@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-sans: var(--font-space-mono), monospace;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin 4s linear infinite;
}

.prose-invert {
  --tw-prose-headings: #14f195;
  --tw-prose-links: #00e0ff;
  --tw-prose-bold: #ffffff;
  --tw-prose-bullets: #14f195;
  --tw-prose-body: #cbd5e1;
}

@keyframes glassShimmer {
  0% {
    background-position: -200px 0;
  }

  100% {
    background-position: 200px 0;
  }
}

.liquid-glass::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.1));
  background-size: 400% 100%;
  animation: glassShimmer 8s infinite linear;
  border-radius: inherit;
  pointer-events: none;
}